<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-10">
      <h2>Liste des catégories</h2>
      <ag-grid-angular
        style="height: 450px;"
        class="ag-theme-alpine"
        [frameworkComponents]="frameworkComponents"
        [rowData]="categories"
        [columnDefs]="columnDefs"
        [gridOptions]="gridOptions"
        [defaultColDef]="defaultColDef"
        [enableRangeSelection]="true"
        [animateRows]="true"
        [pagination]="true"
        [suppressMovableColumns]="true" 
        [suppressMovableColumns]="true"
        [paginationPageSize]="5"
        (gridReady)="onGridReady($event)"
      >
      </ag-grid-angular>
    </div>
  </div>
</div>
