<div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mb-4">Ajouter un produit</h2>
            <form #produitCreationForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="nom">Nom:</label>
                <input type="text" id="nom" name="nom" class="form-control" [(ngModel)]="produit.nom" required>
              </div>
  
              <div class="form-group">
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" class="form-control" [(ngModel)]="produit.description" required>
              </div>
  
              <div class="form-group">
                <label for="prix">Prix:</label>
                <input type="number" id="prix" name="prix" class="form-control" [(ngModel)]="produit.prix" required>
              </div>
  
              <div class="form-group">
                <label for="quantite">Quantité:</label>
                <input type="number" id="quantite" name="quantite" class="form-control" [(ngModel)]="produit.quantite" required>
              </div>
  
              <div class="form-group">
                <label for="boutique">Boutique:</label>
                <select id="boutique" name="boutique" class="form-control" [(ngModel)]="produit.boutiquePublicId" required>
                  <option *ngFor="let boutique of boutiques" [ngValue]="boutique.publicId">{{ boutique.nom }}</option>
                </select>
              </div>
  
              <div class="form-group">
                <label for="categories">Catégories:</label>
                <select  id="categories" name="categories" class="form-control" multiple [(ngModel)]="produit.categoriesPublicId" required>
                  <option *ngFor="let categorie of categories" [ngValue]="categorie.publicId">{{ categorie.nom }}</option>
                </select>
              </div>
  
              <button type="submit" class="btn btn-primary btn-block">Créer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  