.card {
    border: none;
    border-radius: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.form-control {
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    border-width: 1px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #007bff;
}

.btn-primary {
    border: none;
    border-radius: 0;
    background-color: #007bff;
    width: 100%;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #0069d9;
    box-shadow: none;
}

label {
    font-weight: bold;
}
